<!DOCTYPE html>
<html>
  <div class="about-me">
    <h1>Seth Delorme</h1>
    <h2>Who is he?</h2>
      <p>  Seth is an experienced leader hyper-focused on improving the educational experience of students on the West side of Chicago. As a former teacher and current assistant principal, Seth has fostered a data-driven culture of academic achievement on his teams that has resulted in outstanding outcomes for his students. Seth thrives in unpredictable environments and seeks out new challenges often. He is constantly looking for new ways to use technology to amplify human impact -- specifically in K-12 education.

      He also has a deep passion for donuts, lover of all things Vermont, and would rather be outside.</p>
  </div>

  <div class="donuts">
    <p>
      Here is a list of his favorite donut shops in Chicago!
    </p>
    <ul>
      <li><a href= "https://enjoybrite.com/">Brite Donuts</a></li>
      <li><a href="https://www.beacondoughnuts.com/"> Beacon Donuts</a></li>
      <li><a href="https://www.doritedonuts.com/">Do-Rite Donuts and Chicken</a></li>
     <li><a href="https://www.facebook.com/liberationdonuts/">Liberation Donuts</a></li>
    </ul>
  </div>

  <div>
    <p>Want to learn more about him? Click the images below to be taken to his social media pages
    </p>
  </div>
  <div class="row">
    <a href="https://www.linkedin.com/in/seth-delorme/"><img src="https://www.bluestreetcapital.com/wp-content/uploads/2016/01/Linkedin-Logo.png" alt="" width="50" height="50"></a>
    <a href="https://www.facebook.com/seth.delorme.9"><img src="https://facebookbrand.com/wp-content/uploads/2019/04/f_logo_RGB-Hex-Blue_512.png?w=512&h=512" alt="" width="50" height="50"></a>
  </div>
</html>

<style>
img {
  max-width: 100%;
  height: auto;
}

.row {
  grid-row: 1 / 3;
}

.about-me {
  border: 10px black;
  color: Black;
  background: lightblue;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
  width: 600px;
  height:600px;
  margin:0 auto;
  display: table-cell;
  padding: 0 50px;
}

h1 {
  background-color: Khaki;
  text-shadow: 0 1px 0 white,0 -1px 0 black, 1px 0 0 white, -1px 0 0 black;
  color: MidnightBlue;
}


.donuts {
  font-family: Lucida Handwriting,cursive;
}


</style>

